<div class="question">
  <h1> <%= @question.title%> </h1>
  <p> <%= @question.content %> </p>
  <h6> Author:<%= @question.author.username%> </h6>
  <button id="add-question-comment-button">Add Comment</button>
  <button id="add-answer-button">Add Answer </button>
</div>

<div class="question-comments">
  <% if @question.comments.length > 0 %>
    <h2> Comments: </h2>
    <% @question.comments.each do |comment| %>
      <h3> <%= comment.author.username %> </h3>
      <p> <%= comment.content %> </p>
      <h6>Votes:
      <% vote_counter = 0 %>
      <% comment.votes.each do |vote| %>
        <% vote_counter += vote.value %>
      <% end %>
      <%= vote_counter %>
      </h6>

    <% end %>
  <% end %>

  <div>

  <div class="answers">
    <% if @question.answers.length > 0 %>
      <h2> Answers: </h2>
      <% @question.answers.each do |answer| %>
        <h3> <%= answer.author.username %> </h3>
        <p> <%= answer.content %> </p>
        <h6> Votes:  </h6>
        <button id="add-answer-comment">Add Comment</button>

        </div>


        <div class="answer-comments">
        <% if answer.comments.length > 0 %>
          <h2> Comments: </h2>
          <% answer.comments.each do |comment| %>
            <h3> <%= comment.author.username %> </h3>
            <p> <%= comment.content %> </p>
          <% end %>
          <h6> Votes: </h6>
        <% end %>
      <% end %>
    <div>
    <% end %>











